.container {
  height: 90vh;
  display: flex;
  padding: 0vw 5vw;
}

.container > div {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heroImage {
  height: 60%;
  width: 100%;
}

.heroContent {
  padding: 0vw 5vw;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 80px;
  font-weight: 300;
  margin: 0px;
  line-height: 1;
}

.subtitle {
  font-size: 30px;
  margin: 0px;
}

.content {
  font-size: 20px;
  text-align: justify;
}
